body{
    padding: 1%;
    background-color: pink;
    /* width: 50%;
    height: 50%; */
    background: url("..//image1.jpeg") gold;

}
div{
    border: 2px solid yellow;
    /* background-color: aqua; */
}
.flex-container{
    display: flex;
}
@media (max-width : 768px){
    .flex-container{
        /* flex-direction: column; */
        background-color: blue;
        border: 2px dotted green;
    }
}

@media (max-width : 480px){
    .flex-container{
        flex-direction: column;
        background-color: rgb(115, 3, 228);
        border:2px solid brown
    }
}